<strong>Olá, {{ courier }}</strong>

<p>Houve um cancelamnto de encomenda, abaixo estão os detalhes da encomenda cancelada</p>

<p>
  <strong>Nome do produto:</strong> {{ product }} </br>
  <strong>Data/hora Cancelamento:</strong> {{ canceledAt }} </br>
</p>
