<strong>Olá, {{ courier }}</strong>
<p>Você tem uma encomenda disponível para a retirada.</p>
<p>
  <strong>Nome do produto:</strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Data/Hora:</strong> {{ date }} <br />
</p>
