<strong>Olá, {{ courier }}</strong>
<p>Você tem uma nova entrega, confira os detalhes abaixo</p>
<p>
  <strong>Destinatário: </strong>{{ recipient }} <br />
  <strong>Data/Hora:</strong> {{ date }} <br />
</p>
